
.login-form{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 50px 0 !important;
    flex-direction: column !important;
 }
 .login-form p{
     color: red !important;
 }
 .submit{
     columns: red !important;
     font-weight: 800 !important;
 }